# Project exclude paths
/target/
/data/
*.log
.idea/
.vscode/
.kiro/

# Thư mục chứa cấu hình local có chứa API Key cá nhân
/src/main/resources/application-local.properties

# Loại bỏ tất cả các file tài liệu .md theo yêu cầu
*.md

# Loại bỏ file zip UI mới
/src/main/resources/templates.zip
